
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial , sans-serif;
}

input, button {
  background: none;
  border: none;
  outline: none;
  appearance: none;
}

.handleLogin  {
    margin: 0 auto;
    /* overflow: auto; */
    width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #6600FF, #800080 );
}


.form-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  border-radius: 6px;
  height: 480px;
  width: 700px;
  
}

.flex1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex1 img {
  border-radius: 86px;
}
img:hover {
  background-color: #7db269;
  color: #800080;
  width: 190px;;
}
.flex2 {
  display: grid;
  grid-template-rows: 7fr 1fr;
  justify-content: center;
  align-items: center;
 
}


a {
  text-decoration: none;
  font-size: 11px;
 
}


a:hover {
  color: aquamarine;
}

.form-content {
  margin-top: 0px;
}

.form3 {
  text-align: center;
  margin-top: 10px;
}

.form4 {
  display: flex;
 justify-content: center;
 align-items: center;
  
}






h2 { 
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  
}

.form-inner .flex2 .form-group input {
  display: inline-block;
  border-radius: 16px;
  padding: 10px 20px 10px 40px;
  width: 220px;
  background-color: #e5e5e5;
  margin-top: 10px;
}

.input-error {
  border: 1px solid red;
}

.form-group {
  position: relative;
}
.form-group i {
  position: absolute;
  left: 15px;
  top: 18px;
  color: #aaa;
}
.form-inner .flex2 .form2 input {
  display: inline-block;
  border-radius: 16px;
  width: 220px;
  background-color: #7db269;
  margin-top: 30px;
  padding: 10px;
  color: #fff;
}

.form-inner .flex2 .form2 input:hover {
  color: #fff;
  background-color: aquamarine;
}



button {
  display: inline-block;
  border-radius: 8px;
  background-color: #7db269;
  width: 220px;
  padding: 15px;
  margin: 10px; 
  color: #fff
  

}
button:hover {
  color: #fff;
  background-color: aquamarine;
}

.error {
  text-align: center;
  color: red;
  font-size: small;
  font-weight:600
}

